*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #555;
    height: 100%;
}

body{
    height:calc(100vh - 60px);
}


#ClassTitleBar {
    color: white;
    z-index: 99999999;
    position: fixed;
    top: 0;
    background-color: #005994;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 3% 70% 100fr 100fr 100fr 1fr;
    grid-template-rows: 1fr auto 1.2fr;
    grid-template-areas:
            ". . . . . ."
            ". text navBar navBar navBar ."
            ". . . . . .";
}

#ClassTitleBar > p ,#ClassTitleBar > p >a{
    color:white;
    font-weight: bold;
    grid-area: text;
    text-decoration: none;
}
nav>li {
    height: 100%;
}
nav > li> a {
    color:gainsboro;
    text-decoration: none;
}
nav>li a:hover:not(.currentLink) {
    color: white;}
nav{
    list-style-type: none;
    grid-area: navBar;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
            " home about countries ";
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.currentLink{
    color: white !important;
    font-weight: bold;
    border-bottom: white solid 4px;
}

#navHome{
    grid-area: home;
}

#navAbout {
    grid-area:about;
}

#navCountries {
    grid-area: countries;
}

ul {
    list-style-type: none;
}

ul > li > a, ul > li > a:visited{
    text-decoration: none;
    color: #555;
}
.mainSpace{
    margin-top: 60px;
    height: 100%;
}
#homeSpace {
    display: grid;
    grid-template-columns: 1fr 1100px 1fr;
    grid-template-rows: 1fr 159px 1fr 159px 1fr 159px 1fr;
    grid-template-areas:
            ". . ."
            ". les ."
            ". . ."
            ". mau ."
            ". . ."
            ". uk ."
            ". . .";
}

.countryHome {
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns: 290px 1fr 1fr 110px 1fr 157px 2fr;
    grid-template-rows: 3fr 10fr 1fr 12fr 1fr;
    grid-template-areas:
            "flag . . . . . ."
            "flag . txt txt txt txt ."
            "flag . . . . . ."
            "flag . .uni . enrol ."
            "flag . . . . . .";
}

#lesotho {
    grid-area: les;
}

#mauritius {
    grid-area: mau;
}

#uk {
    grid-area: uk;
}

.flag{
    margin: 0;
    overflow: hidden;
    box-shadow: none;
    height: 159px;
    width: 260px;
    grid-area: flag;
}
.flagImage {
    display: block;
}

.countryText {
    grid-area: txt;
    font-size: 16px;
}

.btnUni {
    grid-area: uni;
}

.btnEnrol {
    grid-area: enrol;
}

.flagTitle {
    position:relative;
    z-index: 99999;
}

.btnUni, .btnEnrol, .btnSeeAll{
    height: 30px;
    background-color: #0075C2;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 700;
}


#aboutSpace{
    display: grid;
    grid-template-columns: 1fr 7fr 3fr;
    grid-template-rows: auto auto;
    grid-template-areas:
            ". heading ."
            ". about .";
}

#aboutText {
    grid-area: about;
    font-size: 0.9em;
}

#aboutHead {
    grid-area: heading;
}

#countrySpace {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 8fr 1fr 8fr 1fr;
    grid-template-rows: 1fr 18fr 1fr;
    grid-template-areas:
            ". . . . . . ."
            ". ls . mu . unk ."
            ". . . . . . .";
}
.countrySummary{
    background-color: #F4F4F4;
    display: grid;
    grid-template-columns:1fr 1.5fr 4fr 1.5fr 1fr;
    grid-template-rows: 1fr auto 1fr auto 1fr 5fr 1fr auto 1fr auto 1fr 11fr 1fr;
    grid-template-areas:
            ". . . . ."
            "country country country country country"
            ". . . . ."
            ". heading1 heading1 heading1 ."
            ". . . . ."
            ". list1 list1 list1 ."
            ". . . . ."
            ". btn . . ."
            ". . . . ."
            ". heading2 heading2 heading2 ."
            ". . . . ."
            ". list2 list2 list2 ."
            ". . . . .";


}
.countrySummary > div.enrolStats, .countrySummary > ul {
    padding: 3%;
    background-color: white;
    font-size: 0.7em;
}

.countrySummary > h3{
    text-align: center;
    grid-area: country;
}
.countrySummary > h4.uni{
    grid-area: heading1;
}

.countrySummary > ul.first5 {
    grid-area: list1;
    text-align: left;
    white-space: nowrap;
}
.countrySummary > button{
    grid-area: btn;
}
.countrySummary > h4.enrol{
    grid-area: heading2;
}

.countrySummary > div.enrolStats{
    grid-area: list2;
}

#lesSummary {
    grid-area: ls;
}

#mauSummary {
    grid-area: mu;
}

#ukSummary {
    grid-area: unk;
}

.dataSpace {
    display: grid;
    grid-template-columns:1fr 10fr 1fr 3fr 1fr ;
    grid-template-rows: 1fr 9fr 9fr 1fr;
    grid-template-areas:
            ". . . . ."
            ". view . other1 ."
            ". view . . ."
            ". . . . ."
;
}

.viewSpace{
    grid-area: view;
    background-color: #F4F4F4;
}

#listViewSpace{

    display: grid;
    grid-template-columns: 1fr 80% 1fr ;
    grid-template-rows: 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr;
    grid-template-areas:
            ". . ."
            "title title title"
            ". . ."
            "indicator indicator indicator"
            ". . ."
            ". list3 ."
            ". . ."
            ". page1 ."
            ". . ."
            ". nav ."
            ". . .";
}

#listViewSpace > h3 {
    text-align: center;
    grid-area: title;
}

#listViewSpace > p {
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
    grid-area: indicator;
}

#listViewSpace > ul {
    list-style-type: none;
    background-color: white;
    grid-area: list3;
}
#listViewSpace > ol > li > a , #listViewSpace > ol > li > a:visited{
    text-decoration: none;
    color: #555;
}

#listViewSpace > div.resPageNumbers{
    grid-area: page1;
}

.resPageNumbers > ul {
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "1 2 3 4 5 6 7 8 9 ";
}

#listViewSpace > div.pageNav {
    grid-area: nav;
}

.pageNav {
    display:grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    grid-template-areas: "f p . n l";
}

#first{
    grid-area: f;
}

#prev{
    grid-area: p;
}

#next{
    grid-area: n;
}

#last{
    grid-area: l;
}

.otherSources{
    font-size: 0.65em;
    background-color: #F4F4F4;
    grid-area: other1;
}

#enrolViewSpace {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 650px 1fr 2fr 1fr;
    grid-template-rows: 1fr auto 1fr 20% 1fr 30% 1fr 30% 1fr;
    grid-template-areas:
            ". . . . . . ."
            "cou cou cou cou cou cou cou"
            ". . . . . . ."
            ". . . graph . . ."
            ". . . graph . . ."
            ". ePrev . graph . eNext ."
            ". . . graph . . ."
            ". . . graph . . ."
            ". . . . . . .";

}

#enrolViewSpace > h3{
    text-align: center;
    grid-area: cou;
}

#enrolViewSpace > h4{
    text-align: center;
    grid-area: grTitle;
}

#visual {
    grid-area: graph;
}

#enrolNext{
    grid-area: eNext;
}

#enrolPrev{
    grid-area: ePrev;
}

#enrolPrev, #enrolNext{
    font-weight: bold;
}

canvas{
    height: 90%;
}
button {
    border: none;
    margin: 0;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0075C2;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.btnEnrolStats{
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    background-color: transparent;
    color: #555;
}

.btnEnrolStats:hover,
.btnEnrolStats:focus {
    background: grey;
}